*.DS_Store
.DS_Store
*.pyc
*.csv
*-checkpoint.py
*.zip
oc_3/.ipynb_checkpoints/Bartcus_Marius_1_notebook_052022-checkpoint.ipynb
oc_4/.ipynb_checkpoints/Bartcus_Marius_1_notebook_052022-checkpoint.ipynb
oc_6/.ipynb_checkpoints/.ipynb-checkpoint
oc_6/data/processed/reviews.pkl.gz
*.json
*.jpg
oc_6/.env
oc_6/.ipynb
oc_5/.ipynb_checkpoints/BARTCUS_Marius3_notebook_simulation_062022-checkpoint.ipynb
oc_5/_2_notebook-essais_062022-Copy1.ipynb
oc_5/.ipynb_checkpoints/_2_notebook-essais_062022-Copy1-checkpoint.ipynb
oc_6/.ipynb_checkpoints/Bartcus_Marius_1_csv_062022-checkpoint.ipynb
oc_6/.ipynb_checkpoints/Bartcus_Marius_2_notebook_-checkpoint.ipynb
oc_6/.ipynb_checkpoints/Bartcus_Marius_2_notebook_062022-checkpoint.ipynb
oc_6/.ipynb_checkpoints/Bartcus_Marius_2_notebook_test-checkpoint.ipynb
oc_7/glove.6B.100d.txt
oc_7/glove.6B.200d.txt
oc_7/glove.6B.300d.txt
oc_7/glove.6B.50d.txt
oc_7/glove.6B.zip.1
oc_7/logs/*
oc_7/vectorized/*
oc_7/result/*
*.pb
*.data-00000-of-00001
*.index
oc_7/.ipynb_checkpoints/test_gpu_tensorflow-checkpoint.ipynb
oc_7/.ipynb_checkpoints/Bartcus_Marius_2_scripts_092022-checkpoint.ipynb
oc_7/.ipynb_checkpoints/Bartcus_Marius_2_notebook_062022-checkpoint.ipynb
oc_7/Bartcus_Marius_2_notebook_062022.ipynb
oc_4/Bartcus_Marius_1_notebook_052022.ipynb
oc_4/Bartcus_Marius_1_notebook_052022.ipynb
oc_8/*.png
oc_7/img/xgb_cr.png
oc_7/img/xgb_conf.png
oc_7/img/lstm_cr.png
oc_7/img/lstm_cm.png
oc_7/img/img_data.png
oc_7/img/bert_cr.png
oc_7/img/bert_cm.png
oc_7/img/avis_paradis.png
*.h5
oc_8/data/images/*/*/*/*.png
oc_8/data/masks/*/*/*/*.png
oc_8/data/masks/*
oc_8/data/images/*
oc_8/P08_00_notebook_analyse.ipynb
oc_8/.ipynb_checkpoints/Bartcus_Marius_1_notebook_102022-checkpoint.ipynb
oc_8/.ipynb_checkpoints/P08_notebook_modelisation-checkpoint.ipynb
oc_8/.ipynb_checkpoints/Bartcus_Marius_1_notebook_102022-checkpoint.ipynb
*.txt
oc_9/data/articles_embeddings.pickle
oc_9/results/ratings.gzip
oc_8/.ipynb_checkpoints/Bartcus_Marius_1_notebook_102022-checkpoint.ipynb
oc_8/.ipynb_checkpoints/Bartcus_Marius_1_notebook_102022-checkpoint.ipynb
oc_9/.ipynb_checkpoints/lab-checkpoint.ipynb
*.pkl
*.pckl
*.gz
