*.DS_Store
.DS_Store
*.pyc
*.csv
*-checkpoint.py
*.zip
oc_3/.ipynb_checkpoints/Bartcus_Marius_1_notebook_052022-checkpoint.ipynb
oc_4/.ipynb_checkpoints/Bartcus_Marius_1_notebook_052022-checkpoint.ipynb
